.text-hover:hover {
  color: #7c51ff !important;
  transition: color 0.3s !important;
}

.background-hover:hover{
  background-color: #7c51ff !important;
  transition: background 0.3s !important;
}

.svg-fill {
  fill: white !important;
}

.dark-li:hover > a > span:nth-child(2), .dark-li:hover > a{
  color: #7c51ff !important;
  transition: color 0.35s !important;
} 

.first-letter-in-dark::first-letter{
  color: #fff !important;
}

.span-li a span{
  color: #fff !important;
  transition: color 0.35s !important;
}

.span-li:hover a span{
  color: #7c51ff !important;
}

.border-hover:hover{
  border-color: #7c51ff !important;
  transition: border-color 0.3s !important;
}

.fill-hover:hover span{
  color: #7c51ff !important;
  transition: color 0.3s !important;
}

.fill-hover:hover span svg  {
  fill: #7c51ff !important;
  transition: fill 0.3s !important;
}

.white-placeholder::placeholder{
  color: #fff !important;
}

.default-arrow-remove::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.default-arrow-remove[type=number]{
  -moz-appearance: textfield;
  appearance: none;
}

@media (width <= 576px) {
  .circle-color {
    background-color: #7c51ff !important;
  }
  .nav-pills-padding{
    padding-inline: 20px !important;
  }
}