.text-hover:hover {
  color: #7c51ff !important;
  transition: color 0.3s !important;
}

.background-hover:hover{
  background-color: #7c51ff !important;
  transition: background 0.3s !important;
}

.svg-fill {
  fill: white !important;
}

.dark-li:hover > a > span:nth-child(2), .dark-li:hover > a{
  color: #7c51ff !important;
  transition: color 0.35s !important;
} 

.first-letter-in-dark::first-letter{
  color: #fff !important;
}

.span-li a span{
  color: #fff !important;
  transition: color 0.35s !important;
}

.span-li:hover a span{
  color: #7c51ff !important;
}

.border-hover:hover{
  border-color: #7c51ff !important;
  transition: border-color 0.3s !important;
}

.fill-hover:hover span{
  color: #7c51ff !important;
  transition: color 0.3s !important;
}

.fill-hover:hover span svg  {
  fill: #7c51ff !important;
  transition: fill 0.3s !important;
}

.white-placeholder::placeholder{
  color: #fff !important;
}

.default-arrow-remove::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.default-arrow-remove[type=number]{
  -moz-appearance: textfield;
  appearance: none;
}

@media (width <= 576px) {
  .circle-color {
    background-color: #7c51ff !important;
  }
  .nav-pills-padding{
    padding-inline: 20px !important;
    padding-block: 0px !important;
  }
}

.modal-content {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Added shadow for depth */
}

.modal-header {
  background-color: #f0f9b9;
  color: white;
  padding: 20px;
  position: relative; /* Set position for absolute positioning of close button */
}

.modal-title {
  margin: 0;
  font-size: 1.5rem; /* Increased font size */
  font-weight: bold; /* Added font weight */
}

.modal-body {
  padding: 25px;
  text-align: center; /* Centered text */
}

.modal-footer {
  display: flex;
  justify-content: center; /* Centered buttons */
  padding: 15px;
}

.btn-close {
  background: none;
  border: none;
  color: rgb(243, 96, 96);
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute; /* Positioned absolute for better alignment */
  right: 15px; /* Spacing from the right */
  top: 15px; /* Spacing from the top */
}

.btn-download {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-download:hover {
  background-color: #218838;
}
