.text-hover:hover {
  color: #7c51ff !important;
  transition: color 0.3s !important;
}

.background-hover:hover{
  background-color: #7c51ff !important;
  transition: background 0.3s !important;
}

.svg-fill {
  fill: white !important;
}

.dark-li:hover > a > span:nth-child(2), .dark-li:hover > a{
  color: #7c51ff !important;
  transition: color 0.35s !important;
} 

.first-letter-in-dark::first-letter{
  color: #fff !important;
}